<mat-card class="my-cart"> 
    <h4 class="head-div">My cart ({{count}}) </h4>
    <div  class="whole-div">
    <mat-card fxLayout="column" style="box-shadow: none;" class="card-div2">
        <mat-card fxLayout="row" fxLayoutGap="20px" fxLayout="row wrap"
         fxLayout.xs="column" class="display-container" 
         *ngFor="let displaycart of allcartbooks" >
            <div class="card1" >
                <div class="book-image-details-div">
                    <div class="book-image-div">
                        <img id='img-cart' src="{{displaycart.bookImage}}" alt='error'>
                    </div>
                    <div class="book-details-div">
                        <h5  class="book-title-div">{{displaycart.bookTitle}}<br>
                        <h6  class="auth-div">by {{displaycart.authorName}}</h6>
                        <h5 class="price-div">Rs.&nbsp;{{displaycart.price}}</h5></h5>
                        <div class="item-quantity-div">
                            <div class="increment-div">
                                <span class="decrease-div"
                                (click)="DecrementFromCart(displaycart.bookID,displaycart.bookCount,displaycart.authorName,displaycart.price,displaycart.bookImage,displaycart.bookTitle)"> - </span>
                                <span class='mycart-count-div'>{{displaycart.bookCount}}</span>
                                <span class="increase-div" 
                                (click)="IncrementFromCart(displaycart.bookID,displaycart.bookCount,displaycart.authorName,displaycart.price,displaycart.bookImage,displaycart.bookTitle)"> + </span>
                            </div>
                            <br><br><br>
                            <span class="remove" (click)="deleteFromCart(displaycart.cartID)">Remove</span>
                        </div>
                    </div>
                </div>
                </div>
        </mat-card>
    </mat-card>
    <div class="place-order-btn-div" fxLayout="row wrap" fxLayoutGap="10px">
        <button mat-button class="place-order-div"
       color="primary" *ngIf="!showCustomerDetails;"
       (click)="placeOrder()"> PLACE ORDER </button>
    </div>
    </div>
</mat-card>

<app-customer  [showCustomerDetails]="showCustomerDetails" ></app-customer> 
<mat-card class="cust-card-div">
    Order Summary
</mat-card>