
.head-div{
  opacity: 0.6;
    margin-left: 21px;
    margin-top: -15px;
}
.place-order-div{
  color: #fff;
  background-color: #3f60b5;
  opacity: 0.92;
  font-size: x-small;
  height: 35px;
  width: 131px;
}
#h4 {
    display: inline;
    font-size: 20px;
    color: black;
    opacity: 6px;
  }
 .mycart-count-div{
  padding-left: 7px;
  padding-right: 7px;
  border: 1px groove #eee;
  padding-top: 5px;
  opacity: 0.6;
  padding-bottom: 4px;
  margin-left: 7px;
  }

  .book-title-div{
    font-family: auto;
    margin-top: -23px;
    font-size: 16px;
  }
  .auth-div{
    margin-top: 6px;
    opacity: 0.6;
    font-size: small;
    margin-left: 3px;
  }
  .price-div{
    margin-top: -12px;
    font-weight: bold;
    margin-left: 2px;
  }
  .my-cart {
    // margin: 2% 31% 2% 21%;
    // border-style: solid;
    // border-width: -16.01px;
    // border-width: -4.01px;
    // background: white;
    // margin: 1% 31% 1% 25.5%;
    // border-radius: unset;
    // box-shadow: none;
    // border-color: #f7f1f1;
    // background: white;
    border-radius: unset;
    margin-left: 392px;
    border: 1px solid #eee;
    width: 703.9px;
}

.cust-card-div
{
    width: 705px;
    margin-top: 15px;
    justify-content: center;
    margin-left: 393px;
    margin-bottom: 10px;
}
  .whole-div{
    margin-top: -18px;
    //position: inherit;
  }

  .decrease-div{
    border-radius: 105%;
    background: #eeee;
    /* margin-right: 18%; */
    border: 1px solid #aaa;
    padding-left: 10px;
    padding-right: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 0.5;
    }

     .increase-div{
      border-radius: 105%;
      background: #eeee;
      /* margin-right: 39%; */
      border: 1px solid #aaa;
      padding-left: 9px;
      padding-right: 9px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-left: 5px;
      opacity: .5;
    }
  .my-cart-xs {
    margin: 2%!important;
  }
  #empty-msg-header {
    margin: 5% 12% 5% 26%;
    font-size: 34px;
    font-weight: 500;
  }
  
  #errorMsg {
    font-size: 11px;
    margin-top: 12%;
  }
  
  #empty-msg-body {
    margin: 4% 12% 3% 30%;
    font-size: 12px;
    font-weight: 500;
    color: #a2a0a0;
  }
  
  #shop-now-btn {
    color: white;
    background: maroon;
    margin: 4% 40%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2%;
  }
  
  #place-order-btn {
    color: white;
    font-size: 9px;
    font-weight: 400;
    border-radius: 2%;
    background: #72abec;
    // margin: 2% 5% 2% 76%;
    margin-bottom: 4%;
    padding: unset;
    margin-right: 9%;
    position: relative;
  }
  
  .img {
    height: 110px;
    width: 85px;
    margin: 4% 0%;
  }
  
  #remove {
    font-size: 10px;
    margin-left: -3%;
    cursor: pointer;
    font-size: medium;
  }
  
  // h6 {
  //   font-size: 14px;
  //   margin: 5% 0%;
  //   font-weight: 500;
  // }
  
  .circle {
    border-radius: 50%;
    background: #ece7e7;
    margin-right: 10%;
    padding: 5%;
    cursor: pointer;
  }
  
  .quantity {
    margin-right: 10%;
    padding: 5% 18%;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
  }
  
  p {
    font-size: 9px;
    margin: 0%;
    color: #b9b3b3;
    font-weight: 500;
  }
  
  .display-card {
    margin-left: 2%;
    margin-right: 3%;
    // width: 20%;
    margin-bottom: 3%;
    border-radius: 6px;
    border-radius: unset;
    box-shadow: none;
  }
  #my-cart {
    //border-style: solid;
    //border-width: 1px;
    background: white;
    margin: 2% 31% 2% 21%;
    border-radius: unset;
    box-shadow: none;
    border: 1px solid #eee;
   // margin-top: -386px;
    width: 556px;
    margin-left: 419px;
    //opacity: .5
  }
  
  .my-cart-xs {
    margin: 2%!important;
  }
  .display-container {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
    // justify-content: flex-start;
    margin: 3% 13%;
    box-shadow: none;
    background: none;
  }
  
  #image-card {
    background: #f3eeee;
    text-align: center;
    box-shadow: unset;
  }
  .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //margin-top: -327px;
      margin-bottom: 20px;
      min-height: 771px;
      margin-top: 7px;
      width: auto;
      height: auto;
      
  }
  .CON-btn-div{
    margin-left: 452px;
    display: inline-block;
    justify-content: flex-end;
  }
  
  
  img{
    margin-top: 20px;
    opacity: .5;
  }
  .card1{
    margin-top: -60px;
    margin-left: -102px;
    height: 156px;
  }
  
  .sub {
    display: list-item;
    flex-direction: column;
    justify-content: flex-start;
    width: 584px;
    height: auto;
    border: 1px solid #eee;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: -299px
  }

    .header{
      display: flex;
      background-color: #a71621;
      justify-content: space-between;
      padding: 10px;
      flex-direction: row;
      width: 100%;
      color: white;
    }
    
    .book-logo-search-div{
    display: flex;
    position: relative;
    left: 100px;
    align-items: center;
    }
    
    .book-logo-div{
    margin-right: 20px;
    }
    
    .book-title{
    margin-right: 80px;
    height: 26px;
    display: flex;
    }
    
    .book-image-div {
      width: 230px;
      height: 162px;
      margin-left: -22px;
    }
    
    .search-textfield{
     width: 700px;
     background-color: white;
     border-radius: 10px;
     outline: none;
    }
    
    .cart-wishlist-div{
      display: flex;
      align-items: center;
      position: relative;
      right: 100px;
    }
    .cart-div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .wishlist-div{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-left: 20px;
    align-items: center;
    }
    
    #icon-btn{
      color: white;
    }
    .icon-counter {
      padding-left: 9px;
      padding-right: 2px;
      border-radius: 50%;
      height: 25px;
      width: 30px;
      border: 1px solid white;
      color: white;
    }
    
    .bookcount-sortby-div{
      display: flex;
      justify-content: space-between;
      margin-left: 16%;
      margin-right: 18%;
      margin-top: 40px;
      align-items: center;
    }
    
    #Sort_By_Relevance{
      border-radius: 10px;
      outline: none;
      padding: 10px;
    }
    .labelColor {
      //color:rgb(245, 245, 248);
      opacity: 1;
  }
   
    .pagination-div{
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 20px;
    }
    
    .display-books-div{
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-gap: 30px;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        min-height: 699px;
    }
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
  }
 
  .ch{
    height: 2px;
  }
  .name-width {
      width: 95%;
      margin: 0 10px;
      height:2px;
  }
  input {
      color: -internal-light-dark-color(black, white);
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 11px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      cursor: text;
      font: 400 13.3333px Arial;
      margin-top: -116em;
      background-color: white;
  }
  .line {
    width: 95%;
    margin-left: 11px;
    margin-top: 10px;
    height: 3px
  }
  .name-width-small {
      width: 45%;
      margin: 0 10px;
      margin-bottom: -29px;
  }
  
  .example-full-width {
      width: 100%;
      margin: 0 10px;
      margin-left: 11px;
  }
  
  .example-button-row {
      text-align: center;
  }
  
    
    :hover-card{ 
      width:18%;
      height: 40%;
      background-color: transparent;
      z-index: 1;
    }
    
    #pagination{
      display: flex;
      justify-content: center;
    }
        .my-cart-main-div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          margin-bottom: 20px;
          min-height: 771px;
          /* height: 800px; */
          
      }
    
      .my-cart-sub-div {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 1000px;
        height: auto;
        border: 1px solid #aaa;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .book-image-details-div {
      display: flex;
      flex-direction: row;
    }
    .remove{
      margin-top: 2px;
      margin-left: 30px;
      font-size: small;
      opacity: 0.9;
    }
    
    .book-details-div {
      display: flex;
      flex-direction: column;
      padding: 10px;
      justify-content: space-around;
      margin-top: -21px;
      margin-left: -88px
    }
    .item-quantity-div {
      display: flex;
      align-items: center;
      margin-top: -144px;
    }
    
    .book-image-div {
      width: 220px;
      height: 200px;
    }
    
    #mycart-counter{
      padding-left: 7px;
      padding-right: 7px;
      border: 1px solid #eee;
      padding-top: 5px;
      opacity: 0.6;
      margin-left: -10px;
      padding-bottom: 4px
    }
    .place-order-btn-div{
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
      margin-top: -51px;
    }
    .example-radio{
      margin-left: 20px;
    }
    #check-box-div{
      display: flex;
      
    }
    .mat-radio-button {
      margin-left: 16px;
      font-family: auto;
      font-size: smaller;
    }
    #example-label{
      margin-left: 20px;
      opacity: .789;
      font-size: smaller;
    }
    .circle {
      border-radius: 50%;
      background: #ece7e7;
      margin-right: 10%;
      padding: 5%;
      cursor: pointer;
  }
    
    .customer-details-div{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 574px;
      height: auto;
      border: 1px solid #eee;
      padding: 10px;
      //opacity: .5;
      margin-bottom: 30px;
      margin-left: -10px;
      margin-top: 28px;
    }
    .cus{
      display: block;
      font-size: 0.83em;
      margin-block-start: 1.67em;
      margin-block-end: 1.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      margin-left: 20px;
      margin-top: 2px;
      opacity: 0.6;
  }
    .order-summary-div{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 571px;
      height: 18px;
      border: 1px solid #eee;
      padding: 10px;
      margin-bottom: 30px;
      margin-left: 418px;
      margin-top: -17px;
    }
    .h1{
      font-size: small;
      margin: 3% 5%;
      font-weight: 4500;
      margin-top: 1px;
      opacity: 0.56;
      margin-left: 19px;
  }
    .order-main-div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      min-height: 781px;
    }
    #img-ordersummary {
      vertical-align: middle;
      border-style: none;
      width: 300px;
      height: 300px;
      padding: 10px;
    }
    
    #img-book{
      vertical-align: middle;
      border-style: none;
      width: 300px;
      height: 300px;
      padding: 10px;
    }
    
    #form-check-label {
      margin-bottom: 0;
      padding-right: 40px;
    }
    

    #img-cart {
      vertical-align: middle;
      border-style: none;
      height: 89px;
      width: 71px;
      margin-left: 26px;
      margin-top: 27px;
      opacity: 0.8759
    
    }
    
    #bookcountfont{
      font-size: small;
    }
    
    form#form {
      width: 520px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #aaa
    }
    
    h2#welcome-text {
      text-align: center;
      margin: 50px;
      color: #a71621;
    }
   
    
    #table-div {
      display: flex;
      justify-content: center;
      width: auto;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    
  
  