<div  class="ng-star-inserted">
    <mat-card class="card">
        <div class="align-div">
            <mat-card-header>
                <mat-card-title class="subtitle">
                    <mat-label class="fundoo">
                        <div class="fundoo-div">
                            <strong>
                            <span class="blue">B</span>
                            <span class="red">O</span>
                            <span class="yellow">O</span>
                            <span class="blue">K</span>
                            <span class="">-</span>
                            <span class="green">S</span>
                            <span class="darkred">T</span>
                            <span class="red">O</span> 
                            <span class="blue">R</span> 
                            <span class="green">E</span>
                            <span class="">-</span>
                            <span class="red">A</span>
                            <span class="green">P</span>
                            <span class="blue">P</span>
                            <span class="yellow">L</span>
                            <span class="darkred">I</span>
                            <span class="green">C</span>
                            <span class="blue">A</span>
                            <span class="red">T</span>
                            <span class="yellow">I</span>
                            <span class="darkred">O</span>
                            <span class="blue">N</span>
                        </strong>
                        </div>
                    </mat-label>
                </mat-card-title>
            </mat-card-header>
            <mat-card-header>
                <mat-card-title>
                    <div class="title-div">Create your account</div>
                </mat-card-title>
            </mat-card-header>
        </div>
        <form class="Input-form-container">
            <mat-form-field class="registration" appearance="outline" class="smallname">
                <mat-label class="labelColor">First Name</mat-label>
                <input matInput [formControl]="firstName" placeholder="First Name" >
                <mat-error *ngIf="firstName.hasError('required')">Enter First Name</mat-error>
                <mat-error *ngIf="firstName.hasError('minlength')">Minimum 4 Characters</mat-error>
                <mat-error *ngIf="firstName.hasError('pattern')">Enter Correct Name 
            </mat-error>
        </mat-form-field>

        <mat-form-field class="registration" appearance="outline" class="smallname">
            <mat-label class="labelColor">Last Name</mat-label>
                <input matInput [formControl]="lastName" placeholder="last Name" >
            <mat-error *ngIf="lastName.hasError('required')">Enter Last Name</mat-error>
            <mat-error *ngIf="lastName.hasError('minlength')">Minimum 4 Characters</mat-error>
            <mat-error *ngIf="lastName.hasError('pattern')">Enter Correct Name
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="registration" appearance="outline" class="line">
             <mat-label class="labelColor" aria-label="First name">Email</mat-label>
                <input matInput [formControl]="email" placeholder="Ex. pat@example.com" >
               <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Sorry,Invalid email
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">Email is <strong>required</strong></mat-error> 
        </mat-form-field>

        <mat-form-field class="registration" appearance="outline" class="linewidth">
            <mat-label class="labelColor">Password</mat-label>
                <input matInput [formControl]="password" placeholder="password" type="password" >
                 <mat-error *ngIf="password.hasError('required')">Password is Required</mat-error>
                <mat-error *ngIf="password.hasError('minlength')">Use 8 or More Characters with a mix of letters,numbers & symbols</mat-error> 
        </mat-form-field>
       
       <mat-form-field class="registration" appearance="outline" class="linewidth">
        <mat-label class="labelColor">Confirm password</mat-label>
        <input matInput [formControl]="confirmpassword" placeholder="" type="password"  >
        <mat-error *ngIf="confirmpassword.hasError('required')">Password is <strong>required</strong></mat-error>
        <mat-error *ngIf="confirmpassword.hasError('minlength')"> Minimum <strong>length</strong> is 6</mat-error>
        <mat-error *ngIf="">PASSWORD NOT MATCHED</mat-error>
        </mat-form-field><br>
       
        <div class="button">
            <button mat-raised-button class="registerbutton" type="button" color="primary" (click)="registrationForm()"
                class="register_btn">Register</button> 
        </div> <br>
        <div class="link">
            <span>Already Have an account? <a href="login">Login</a></span>
        </div> <br>

        </form>
    </mat-card>
</div>