<mat-card class="card">
    <h1>
        <span class="blue">F</span>
        <span class="red">U</span>
        <span class="yellow">N</span>
        <span class="blue">D</span>
        <span class="green">O</span>
        <span class="darkred">O</span>
    </h1>
    <h2><span class="green">Forgot Password</span></h2>
    <form class="Input-form-container">
        <mat-form-field class="registration" appearance="outline" class="linewidth">
            <mat-label class="labelColor">Email</mat-label>
                <input matInput [formControl]="email" placeholder="Email-Id" required>
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Sorry,Invalid email
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">Email is Required</mat-error>
        </mat-form-field>
        <div class="button">
            <button mat-raised-button class="forgotbutton" type="button" color="primary" (click)="forgotForm()"
                class="forgot_btn">Submit</button>
        </div> <br>
        <div class="link">
            <span>Dont Have an account? <a href="login">Login</a></span>
        </div> <br>
    </form>
</mat-card>
