<mat-card class="card">
   <div class="div">
        <mat-card-header>
            <mat-card-title class="subtitle">
                <mat-label class="fundoo">
                    <h1>
                        <span class="blue">F</span>
                        <span class="red">U</span>
                        <span class="yellow">N</span>
                        <span class="blue">D</span>
                        <span class="green">O</span>
                        <span class="darkred">O</span>
                    </h1>
                </mat-label>
            </mat-card-title>
        </mat-card-header>
        <mat-card-header>
            <mat-card-title>
                <h2>Sign in</h2>
            </mat-card-title>
        </mat-card-header>
    </div>
    <form class="Input-form-container">
        <mat-form-field class="registration" appearance="outline" class="linewidth">
            <mat-label class="labelColor">Email</mat-label>
                <input matInput [formControl]="email" placeholder="Email-Id" required>
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Sorry,Invalid email
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">Email is Required</mat-error>
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="linewidth">
            <mat-label class="labelColor">Password</mat-label>
                <input matInput [formControl]="password" placeholder="password" type="password" required >
                <mat-error *ngIf="password.hasError('required')">Password is Required</mat-error>
                <mat-error *ngIf="password.hasError('minlength')">Use 8 or More Characters with a mix of letters,numbers & symbols</mat-error>
        </mat-form-field>
        <div class="button">
            <button mat-raised-button class="loginbutton" type="button" color="primary" (click)="loginForm()"
                class="login_btn">Sign in</button>
        </div> <br>
        <div class="link">
            <span class="forgot" routerLink="/forgot">ForgetPassword?<a href="forgotpassword">forgotPassword</a></span>
        </div>
        <div class="link">
            <span class="registernewaccount" routerLink="/register">Don't Have Account? <a href="register">Register</a></span>
        </div>
      
        <br>
    </form>
</mat-card>