<div >
    <div fxLayout="row" class="icons">
        <button mat-icon-button matTooltip="Remind Me" id="remind" >
            <mat-icon>add_alert</mat-icon>
        </button>
        <button mat-icon-button matTooltip="collaborator" >
            <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add Color" id="palette">
            <mat-icon>palette </mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add image">
            <mat-icon>image</mat-icon>
        </button>
        <button mat-icon-button  matTooltip="UnArchive" >
            <mat-icon>unarchive</mat-icon>
        </button>
        <button mat-icon-button  matTooltip="Archive" >
            <mat-icon>archive</mat-icon>
        </button>
        <button mat-icon-button matTooltip="more" id="more">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</div>