.icon {
    border-bottom-color: rgb(17, 2, 2);
    margin: 0 7px;
}
.row{
    border-bottom-color: rgb(14, 12, 12);
    margin: 0 3px;
}
.column{
    border-bottom-color: rgb(12, 1, 1);
    margin: 0 4px;
}