<div fxLayout="row">
    <div fxLayout="row" class="icons">
        <button mat-icon-button matTooltip="Remind Me">
            <mat-icon class="icon">add_alert</mat-icon>
        </button>
        <button mat-icon-button matTooltip="collaborator">
            <mat-icon class="icon">person_add</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add Color">
            <mat-icon class="icon">palette </mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add image">
            <mat-icon class="icon">image</mat-icon>
        </button>
        <button mat-icon-button matTooltip="UnArchive">
            <mat-icon class="icon">unarchive</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Archive" (click)="isArchive()">
            <mat-icon class="icon">archive</mat-icon>
        </button>
    </div>
</div>