<div>
  <mat-card class="addmatcard" (click)="clicknote" *ngIf="!popup">
        <input matInput class="searchbar" placeholder="Take a note...">
        <button mat-icon-button class="closedmaticons" matTooltip="New list">
          <mat-icon>check_box</mat-icon>
        </button>
        <button mat-icon-button class="closedmaticons" matTooltip="New note with drawing">
          <mat-icon>brush</mat-icon>
        </button>
        <button mat-icon-button class="closedmaticons" matTooltip="New note with image">
          <mat-icon>image</mat-icon>
        </button>
  </mat-card>
</div>
