.card {
    background-color: whitesmoke;
    min-height: 50%;
    max-width: 35%;
    visibility: visible;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    align-items: center;
}
.fundoo
{
    color: royalblue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}
element.style {
    height: 50%;
    width: 40%;
    align-items: center;
}
.registration{
    width: 95%;
    margin: 0 10px;
}
.darkred{
    color:red;
}
.blue{
    color:blue;
}
.red{
    color:red;
}
.yellow{
    color:yellow;
}
.green{
    color:green;
}
h1{
    text-align: center;
}
.linewidth
{
    width: 80%;
    margin: 0 10px;
}
.ng-star-inserted{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
