<mat-card class="card">
    <h1>
        <span class="blue">F</span>
        <span class="red">U</span>
        <span class="yellow">N</span>
        <span class="blue">D</span>
        <span class="green">O</span>
        <span class="darkred">O</span>
    </h1>
    <h2><span class="green">Reset Password</span></h2>
    <form class="Input-form-container">
       
        <mat-form-field class="registration" appearance="outline" class="linewidth">
        <mat-label class="labelColor">New Password</mat-label>
            <input matInput [formControl]="password" placeholder="password" type="password" required >
            <mat-error *ngIf="password.hasError('required')">Password is Required</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Use 8 or More Characters with a mix of letters,numbers & symbols</mat-error>
        </mat-form-field>

      <mat-form-field class="registration" appearance="outline" class="linewidth">
            <mat-label class="labelColor">Confirm password</mat-label>
            <input matInput [formControl]="confirmpassword" placeholder="" type="password" required >
            <mat-error *ngIf="confirmpassword.hasError('required')">Password is <strong>required</strong></mat-error>
             <mat-error *ngIf="confirmpassword.hasError('minlength')"> Minimum <strong>length</strong> is 6</mat-error>
             <mat-error *ngIf="">PASSWORD NOT MATCHED</mat-error>
       </mat-form-field><br>

       <div class="button">
        <button mat-raised-button class="resetbutton" type="button" color="primary" (click)="resetForm()"
            class="reset_btn">Reset</button>
    </div> <br>
    </form>
</mat-card>