.card {
    background-color: whitesmoke;
    min-height: 90%;
    max-width: 35%;
    visibility: visible;
    margin:auto;
    margin-top: 110px;
    text-align: center;
}
.registration{
    width: 95%;
    margin: 0 10px;
}
.darkred{
    color:red;
}
.blue{
    color:blue;
}
.red{
    color:red;
}
.yellow{
    color:yellow;
}
.green{
    color:green;
}
h1{
    text-align: center;
}
.line{
    width:97%;
    margin: 0 10px;
}
.linewidth
{
    width: 46%;
    margin: 0 10px;
}