<mat-card class="card">
    <div class="div">
        <mat-card-header>
            <mat-card-title class="subtitle">
                <mat-label class="fundoo">
                    <h1>
                        <span class="blue">F</span>
                        <span class="red">U</span>
                        <span class="yellow">N</span>
                        <span class="blue">D</span>
                        <span class="green">O</span>
                        <span class="darkred">O</span>
                    </h1>
                </mat-label>
            </mat-card-title>
        </mat-card-header>
        <mat-card-header>
            <mat-card-title>
                <h2>Create your Google Account</h2>
                <h3>Continue to gmail</h3>
            </mat-card-title>
        </mat-card-header>
    </div>
    <form class="Input-form-container">
        <mat-form-field class="registration" appearance="outline" class="smallname">
            <mat-label class="labelColor">First Name</mat-label>
                <input matInput [formControl]="firstName" placeholder="First Name" required>
                <mat-error *ngIf="firstName.hasError('required')">Enter First Name</mat-error>
                <mat-error *ngIf="firstName.hasError('minlength')">Minimum 4 Characters</mat-error>
                <mat-error *ngIf="firstName.hasError('pattern')">Enter Correct Name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="smallname">
            <mat-label class="labelColor">Last Name</mat-label>
                <input matInput [formControl]="lastName" placeholder="last Name" required>
            <mat-error *ngIf="lastName.hasError('required')">Enter Last Name</mat-error>
            <mat-error *ngIf="lastName.hasError('minlength')">Minimum 4 Characters</mat-error>
            <mat-error *ngIf="lastName.hasError('pattern')">Enter Correct Name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="linewidth">
            <mat-label class="labelColor">Email</mat-label>
                <input matInput [formControl]="email" placeholder="Email-Id" required>
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Sorry,Invalid email
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">Email is Required</mat-error>
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="linewidth">
            <mat-label class="labelColor">Password</mat-label>
                <input matInput [formControl]="password" placeholder="password" type="password" required>
                <mat-error *ngIf="password.hasError('required')">Password is Required</mat-error>
                <mat-error *ngIf="password.hasError('minlength')">Use 8 or More Characters with a mix of letters,numbers & symbols</mat-error>
        </mat-form-field>
        <div class="button">
            <button mat-raised-button class="registerbutton" type="button" color="primary" (click)="registrationform()"
                class="register_btn">Register</button>
        </div> <br>
        <div class="link">
            <span>Already Have an account? <a href="login">Login</a></span>
        </div>
        <br>
    </form>
</mat-card>