   <div class="note d-flex">
   <mat-card *ngIf="!Node" class="closedmatcard" id="card" (click)="noteopen()">
        <input matInput class="searchbar" placeholder="Take a note..........">
        <button mat-icon-button class="checkboxicon" matTooltip="New list">
            <mat-icon>check_box</mat-icon>
        </button>
        <button mat-icon-button class="brushicon" matTooltip="New note with drawing">
            <mat-icon>brush</mat-icon>
        </button>
        <button mat-icon-button class="imageicon" matTooltip="New note with image">
            <mat-icon>image</mat-icon>
        </button>
    </mat-card>
    <mat-card *ngIf="Node" class="openedmatcard" [style.background]="notemodel.changeColor"  id="opencard">
        <form [formGroup]="createNoteForm">
                <div style="display: flex;flex-direction: row;align-items: center;">
                    <input type="text" class="input" placeholder="Title" 
                    value="" [style.background]="notemodel.changeColor"
                    formControlName="title" id="notetitle" #title>
                </div>

                <div>
                    <input class="input" type="text" placeholder="description" 
                    [style.background]="notemodel.changeColor"
                    formControlName="description" id="notedescription" #description>
                </div>
 
                 <div *ngIf="notemodel.remainder!=''">
                    <mat-chip-list>
                        <mat-chip class="mar">{{notemodel.remainder}}
                             <button matTooltip="Delete Reminder" class="remind-div" 
                             style="border: none;outline: none;">
                                <mat-icon (click)="deleteReminder(notemodel.id)" class="Cbutton">close</mat-icon>
                            </button> 
                        </mat-chip>
                    </mat-chip-list>
                </div> 
                 
                <div class="box">
                    <div class="bottomalign">
                        <app-icons  isDisplay=true (output)="addnoteIconEvent($event)"></app-icons>
                    </div>
                    <div class=" cancelclass">
                        <button mat-button class="closeclass" id="closeB" 
                         (click)="addNote()">Close</button>
                    </div>
                </div>
        </form>
    </mat-card>
</div>