<mat-card class="card-div">
    <mat-card-title> <strong>Collaborators</strong></mat-card-title>
    <mat-divider class="mat-divider"></mat-divider>
    <br>
    <div class="colo-div">
        <div>
            <strong>{{ name }}</strong>(Owner)
        </div>
        {{ email }}
    </div>
   <div>
      <div *ngFor="let note of data.collaboraters" class="collob-align">
         <div *ngIf = "data.collab == note.noteId ">
             {{col.Emailreceiver}}
            <button class="b-icon" mat-icon-button matToolTip="Delete">
                <mat-icon  (click)="deletedeleteCollaborator(note.id)">Close</mat-icon>
            </button>
        </div> 
      </div>
   </div>
    <div class="person">
        <mat-icon>person_add</mat-icon>
        <input matInput class="input-text" placeholder="Email to Share With" value="" #userEmail>
    </div>
    <div class ="align">
        <button class="cancelbutton" mat-dialog-close mat-button mat-dialog-close class="c-button">Cancel</button>
       <button mat-dialog-close mat-button close="c-button" 
       (click)="save(userEmail.value,data.collab.noteId)">Save</button>
    </div>
</mat-card>