<mat-card  id="customer-details" *ngIf="!showCustomerDetails; else elseBlock">
    <h3 class="cust-h1-div">Customer Details</h3>
</mat-card>
<ng-template #elseBlock>
<mat-card class="customer-mat-div">
    <h3 class="detail-div">Customer Details</h3>
    <h2 class="edit">Edit</h2>
    <div fxLayout="row" fxLayoutGap="10px" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutGap="18px">
        <form class="Input-form-container">
            <mat-form-field class="registration" appearance="outline" class="smallname">
            <mat-label class="labelColor">Name</mat-label>
                <input [formControl]="name" matInput  placeholder="Name" >
                <mat-error *ngIf="name.hasError('required')">Enter Name</mat-error>
                <mat-error *ngIf="name.hasError('pattern')"> Name must in<strong> characters</strong>
            </mat-error>
               
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="smallname">
            <mat-label class="labelColor">PhoneNumber</mat-label>
                <input [formControl]="phone"  matInput  placeholder="Phone number" >
                <mat-error *ngIf="phone.hasError('minlength')">
                    Number <strong>length</strong> is 9 digit
                </mat-error>
                <mat-error *ngIf="phone.hasError('pattern') && !phone.hasError('minlength')">
                    Number must in<strong> digit</strong>
                </mat-error>
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="smallname">
            <mat-label class="labelColor">Pincode</mat-label>
                <input  [formControl]="pinCode" matInput  placeholder="Pincode">
                <mat-error *ngIf="pinCode.hasError('minlength')">
                    Number <strong>length</strong> is 6 digit
                </mat-error>
                 <mat-error *ngIf="!pinCode.hasError('pattern') && !pinCode.hasError('minlength')">
                    Number must in<strong> digit</strong>
                </mat-error> 
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="smallname">
            <mat-label class="labelColor">Locality</mat-label>
                <input  [formControl]="locality" matInput  placeholder="locality" >
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="linewidth">
            <mat-label class="labelColor">Address</mat-label>
            <textarea [formControl]="address" matInput  placeholder=""></textarea>
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="smallname">
            <mat-label class="labelColor">City/Town</mat-label>
                <input [formControl]="city" matInput  placeholder="city/town" >
        </mat-form-field>
        <mat-form-field class="registration" appearance="outline" class="smallname">
            <mat-label class="labelColor">LandMark</mat-label>
                <input [formControl]="landmark" matInput  placeholder="Landmark" >
        </mat-form-field>
                <label class="labels">Type</label>
                <mat-radio-group fxLayout="row" fxLayoutGap="10px"
                 fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" 
                 id="radio-group" [formControl]="type" aria-label="Select an option">
                    <mat-radio-button class="radio-btn1" value="home">Home</mat-radio-button>
                    <mat-radio-button class="radio-btn2" value="true" value="work">Work</mat-radio-button>
                    <mat-radio-button class="radio-btn3" value="other">Other</mat-radio-button>
                </mat-radio-group>
            </form>
                <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="end center">
                    <button  fxFlex="30" mat-button id="continue-btn"  >CONTINUE</button>
                </div>
    </div>
    </div>
</mat-card>
</ng-template>