.Input-form-container{
    align-items: center;
    background-color:white;
    align-items: center;
    max-width: 500px;
    justify-content: center;
  }
.customer-mat-div{
    // border-style: solid;
    // border: 1px solid #eee;
    // background:white;
    // margin: 2% 31% 2% 21%;
    // border-radius: unset;
    // box-shadow: none;
    // width: 700px;
    // margin-left: 250px;
    // height: auto;
    // margin-top: 220px;
    border-style: solid;
    border: 1px solid #eee;
    background: white;
    /* border-radius: unset; */
    /* box-shadow: none; */
    width: 703.9px;
    margin-left: 391px;
    margin-top: 33px;
}
h2{
    font-size: small;
    margin-left: 662px;
    opacity: 0.78;
    margin-top: -39px;
}
.cust-h1-div{
    // font-size: small;
    // margin: 3% 5%;
    // font-weight: 4500;
    // margin-top: -6px;
    // opacity: 0.6;
    // margin-left: 12px;
    margin: 3% 5%;
    font-weight: 4500;
    margin-top: -6px;
    margin-left: 5px;
}
#customer-details{
        /* border-style: groove; */
        border: 1px solid #eee;
        background: white;
        /* margin: 2% 31% 2% 21%; */
        border-radius: unset;
        /* box-shadow: none; */
        width: 703px;
        /* display: block; */
        margin-left: 391px;
        height: 20px;
        margin-top: 16px;
}
.linewidth{
    width: 96%;
    height: 5%;
    margin-left: 12px;
    margin-top: -25px;
    margin-bottom: 13px;
    // margin: 0 7px;
 }

  .labels{
    margin-left: 13px;
    opacity: .89;
}
.smallname {
    width: 46%;
    margin: 18px 7px;
    margin-left: 12px;
    margin-top: -20px;
}
.registration{
    width: 95%;
    margin: 0 7px;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0;
}
.radio-btn1{
    font-size: 10px;
    margin-top: 1%;
    margin-left: -18%;
}
.radio-btn2{
    font-size: 10px;
    margin-top: 1%;
    margin-left: 12%;
    //margin-left: -72%;
}
.radio-btn3{
    font-size: 10px;
    margin-top: 1%;
    margin-left: 15%;
   // margin-left: -72%;
}
#radio-group{
    margin: -2%;
}
#continue-btn{
    color: white;
    font-size: 10px;
    font-weight: 400;
    border-radius: 2%;
    background-color: blue;
    margin-bottom: 2%;
    position: relative;
    margin-left: 575px;
    width: 100px;
    margin-top: -9%;
}
.detail-div{
    font-size: 14px;
    margin: 3% 5%;
    font-weight: 4500;
    margin-top: 4px;
    opacity: 1.6;
    margin-left: 24px;
}