<div class="cardiv" *ngFor="let note of inputnote">
    <mat-card class="cardalign" [ngStyle]="{'background-color': note.changeColor}">
        <div class="aligntitle">
            {{note.title}}
        </div>
        <div class="aligndescrip">
            {{note.description}}
        </div>
        <div class="icons">
            <app-icons [trash]="trash" [archive]="archiveinput"
            (output)="iconEvent($event,note.id)" [notes]="note"  notify="getAllNote()"> </app-icons>
        </div>
    </mat-card>
</div>