<div class="whole-align">
    <mat-card class="cardalign" *ngFor="let note of inputnote" [ngStyle]="{'background-color': note.changeColor}"
        [style.width]="width" [style.margin]="margin">
        <div (click)="OnClickEditDialogue(note)">
            <div class="aligntext"> {{note.title}} </div>
            <div class="aligndescrip"> {{note.description}} </div>
        </div>

        <div class="labe-row">

            <div *ngFor="let labe of labelsNote">
                <div *ngIf="labe.noteId == note.id">
                    <mat-chip-list>
                        <mat-chip class="mars">{{labe.labelName}}
                            <button matTooltip="Delete Label" class="lab-div"
                                [ngStyle]="{'background-color' : note.changeColor}">
                                <mat-icon (click)="deleteLabel(labe.labelId)" class="Cbutton">close</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>

            <div *ngIf="note.remainder!=null && note.remainder!=''">
                <mat-chip-list>
                    <mat-chip class="mar">{{note.remainder}}
                        <button matTooltip="Delete Reminder" class="remind-div"
                            [ngStyle]="{'background-color': note.changeColor}">
                            <mat-icon (click)="deleteReminder(note.id)" class="Cbutton">close</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    
        <div *ngFor="let note of collaborators">
                <div>{{ note.Emailreceiver}}</div>
        </div>
        <app-icons [trash]="trash" [labelsNote]="label" (output)="iconEvent($event,note.id)" [archive]="archiveinput"
            [notes]="note" notify="getAllNote()" (labelnotify)="getAllLabelList()"
            (collabonotify)="getAllCollaboratorList()">
        </app-icons>
    </mat-card>
</div>