<mat-card [ngStyle]="{'background-color' : data.note.changeColor}" class="mat">
    <div fxLayout="row">
        <div>
            <input style="border: none; outline: none;font-size: medium;"
             [ngStyle]="{'background-color':data.note.changeColor}" 
            matInput type="text" class="ntitle" placeholder="title"
             value="{{data.note.title}}" #title > 
        </div>
     </div>
     <br>
    <div>
        <i> <input style="border: none; outline: none;font-size: medium;"
             [ngStyle]="{'background-color' : data.note.changeColor}" 
             matInput type="text" class="titles" placeholder="description" 
              value="{{data.note.description}}" #description > 
        </i>
        <div fxLayout="row" style="padding-top: 32px;">
            <app-icons  [notes]="data.note" (output)="outputFunction($event)"></app-icons>
            <button mat-button mat-dialog-close
            (click)="updateNote( data.note.id,title.value, description.value,data.note.changeColor)">Close</button>
        </div>
    </div>

<div class="labe-row">
    <div *ngFor="let labe of labelsNote" >
        <div *ngIf="labe.noteId == note.id" >
            <mat-chip-list>
               <mat-chip class="mars">{{labe.labelName}}
                    <button matTooltip="Delete Label" class="lab-div"  [ngStyle]="{'background-color' : note.changeColor}"
                        style="border: none;outline: none;">
                    <mat-icon (click)="deleteLabel(labe.labelId)" class="Cbutton">close</mat-icon> 
                    </button>
                </mat-chip> 
            </mat-chip-list>
        </div> 
    </div>  
</div>
</mat-card>
